html{
    font-size:10px;
}
*{
    padding:0;
    margin:0;
}
span{
    font-size: 1.6rem;
}



.main-button{
    box-shadow: 0 5px 8px rgba(0,0,0,0.5);
    margin-top:2rem;
    color:#fff;
    font-size: 2.5rem;
    border-radius: 50%;
    width:7rem;
    height: 7rem;
    border: none;
    outline: none;
    background-color: #FF7042;
}
.header-modal{
    background-color: #E6E6E6;

}

.modal-wrapper{
    border-radius: 5px 5px 0 0;
    margin-top:3rem;
    border:2px solid #231F20;

}
.header-modal{
    border-bottom:2px solid #231F20;
}
.header-modal button{
    background-color:transparent;
    border:none;
    outline: none;
    padding:0.2rem;
    border-radius:50%;

}

.input-name{
    padding: 0.5rem;
    border-radius: 2px;
    border:1px solid #CCCCCC;
    font-size: 2rem;
    background-color:transparent;
    margin-top:6rem;
}
.input-key{
    width:100%;
    padding: 0.5rem;
    border-radius: 2px;
    border:1px solid #CCCCCC;
    font-size: 2rem;
    background-color:transparent;
    margin-top:5rem;

} 
textarea{
    font-size: 2rem;
    min-height: 15rem;
    margin-top:2rem;
    width:70%;
    
}
.enter-key-button{
    box-shadow: 0 5px 8px rgba(0,0,0,0.5);
    min-height: 40px;
    min-width:40px;
    border-radius: 50%;
    color:#fff;
    border: none;
    background-color: #72BB53;

}
.select-country{
    z-index: 100;
    outline: none;
    text-align: center;
    min-width:200px;
    position: relative;
    margin-top:2rem;
    border: none;
    color:#fff;
    font-size: 2rem;
    background-color: #2196f3 ;
}
/* .select-country:before{
  content: ">";
  display: inline-block;
  background: white;
  position: absolute;
  right: -5px;
  top: 2px;
  z-index: 2;
  width: 30px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  border: 2px solid #ddd;
  transform: rotate(90deg);
  cursor: pointer;
} */

/* .select-country:before {
    content: "▼";
    padding: 0 8px;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 4px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
  } */
  select {
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
.text-of-time{
    display: block;
    margin-top:2rem;
}
.date-input{
    min-width:100px;
    margin-top:1.5rem;
    border:1px solid black;
    background: transparent;
    max-width:50%;
    font-size: 1.3rem;
}
.date-input::after{
    display: block;
    width:50px;
    height: 50px;
    content:"123";

}
.time-input{
    padding-left:0.2rem;
    min-width:100px;
    margin-top:2rem;
    border:1px solid black;
    background: transparent;
    max-width:50%;
    font-size: 1.3rem;
}
.button-wrapper input{
    border-radius: 3px;
    margin:1rem;
    padding-top:0.2rem;
    padding-bottom:0.2rem;
    border: 1px solid black;
    padding-left:4rem;
    padding-right:4rem;
    background-color: #E6E6E6;
    font-size: 1.6rem;

}
.button-wrapper input:active{
    background-color: #AEDD94;
}


.button-wrapper{
    margin-bottom:1rem;
}
.select-wrapper{
    position: relative;
}
.select-wrapper i{
    top:18px;
    z-index:200;
    right:8px;
    font-size: 3rem;
    color:white;
    position: absolute;
    

}
.date-input:after{
    position: relative;
    content:"123";
    display: block;
    width:30px;
    height: 30px;
    background-color: red;
}